# Environment setting (Set "production" in a production environment)
NODE_ENV=development
# Server port number (Default: 5000)
PORT=5000

# MongoDB connection URL (Use "mongodb+srv://" for production)
MONGO_URI=ADD_YOUR_MONGO_URI

# JWT secret key (Set a long and secure random string)
JWT_SECRET=ADD_YOUR_SECRET

# PayPal API settings (Use different values for Sandbox and Live environments)
PAYPAL_CLIENT_ID=ADD_YOUR_PAYPAL_CLIENT_ID
PAYPAL_APP_SECRET=ADD_YOUR_PAYPAL_APP_SECRET
# Change to Live API URL in production
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
